* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
}
.bgNavbar {
  height: 100vh;
  background: url("./img/main.jpg");
  background-size: cover;
}
.Intro {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tittle {
  font-weight: 800;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 1.5px;
  text-shadow: 2px 2px black;
}
.Film {
  height: auto;
  background: url("../img/Film.jpg");
  background-size: cover;
}
.Trend {
  height: auto;
  background: url("../img/bg-trending.webp");
  background-size: cover;
}
.movieWrapper {
}
.movieImage {
  height: auto;
  margin: 5px;
  padding: 5px;
}
.container-image {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.Images {
  height: 500px;
  display: block;
  transition: transform 0.3s ease;
}
.Images:hover {
  transform: scale(1.1);
}
.container-image button {
  position: absolute;
  bottom: 2%;
  left: 5%;
  background-color: #64ccc5;
  color: white;
  font-size: 16px;
  padding: 10px 30px;
  border: 1px solid #64ccc5;
  cursor: pointer;
  border-radius: 8px;
  text-align: center;
  animation: 0.3s linear;
}
.container-image button:hover {
  border: 1px solid #64ccc5;
  background: none;
  animation: 0.3s linear;
}
.container-image button:active {
  transform: scale(0.9);
  animation: 0.3s linear;
}
.MovieSearch {
}
.overview {
  margin-top: 5px;
  height: 350px;
}
.judul-navbar {
  letter-spacing: 3px;
  line-height: 1;
}
@media screen and (max-width: 600px) {
  .overview {
    height: unset;
    height: auto;
  }
}
@media screen and (max-width: 991px) {
  .Images {
    width: 108vw;
    height: auto;
  }

  .overview {
    height: auto;
  }
}
